<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section class="banner align-items-center">
  <div class="text-center pt-5">
    <h1 class="font-weight-bold pb-3">About Us</h1>
    <p>
      A contact manager is a software program that enables users to easily store and find contact information, such as names,
      addresses, and telephone numbers. They are contact-centric databases that provide a fully integrated approach to tracking
      all information and communication activities linked to contacts. Simple ones for personal use are included in most smartphones.
      The main reference standard for contact data and metadata, semantic and interchange, is the vCard.
    </p>
    <p>
      Sophisticated contact managers provide calendar sharing features and allow colleagues to access the same database.
      The main reference standard is the vCalendar.
      In management terminology, advanced contact managers can be called individual resource management (IRM) or contact management (CM)
      tools – systems for managing an individual's interactions with current and future contacts, to organize, collaborate,
      and synchronize health, lifestyle, and financial needs.
    </p>
    <p>
      "Smart contact manager" is Website where you can start Collecting your contacts in very smarter way. We provide very
      efficient and smarter way of handling contacts. We also provide option to maintain your contact book in our website.
      We are using cloud based database. So you don't have to worry about privacy of the data.
    </p>
  </div>
</section>
</body>
</html>